* {
	font-size: 100%;
	font-family: monospace;
	background: #000;
	color: #cccccc
}

pre {
	white-space: pre-wrap
}

a:link {
	color: #69f;
	text-decoration: none
}

a:visited {
	color: rgb(102, 219, 255)
}

*.q {
	color: #09f
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 800;
	color: #fff;
	margin: 0;
}

hr {
	border: none;
	border-top: 1px dashed #ffffff;
	height: 1px;
	width: 100%;
}

codeblock {
	display: block;
	background: #1a1a1a;
	color: #fff;
	padding: 0.2em 0.4em;
	border-radius: 3px;
}

.owner_role {
	font-size: 80%;
	border: 1px solid #5db6ff;
	color: #5db6ff;
	background: #5db6ff2d;
}

.admin_role {
	font-size: 80%;
	border: 1px solid #ff5d5d;
	color: #ff5d5d;
	background: #ff5d5d2d;
}

.moderator_role {
	font-size: 80%;
	border: 1px solid #ffb65d;
	color: #ffb65d;
	background: #ffb65d2d;
}

.member_role {
	font-size: 80%;
	border: 1px solid #5dff5d;
	color: #5dff5d;
	background: #5dff5d2d;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.text-center {
	text-align: center;
}

img{
	max-width: 250px;
	max-height: 250px;
}